
    

    <table border="1" width="100%">
        <tr>
                <th>Number</th>
                <th>Title</th>	
                <th>ID</th>
                <th>Published</th>
                <th>Update</th>
                <th>Usuń</th>
        </tr>
        {% for oneDataRSS in RSS %}
        <tr>
                <td>{{ loop.index }}</td>
                <td>{{oneDataRSS.title|e}}</td>
                <td>{{oneDataRSS.id|e}}</td>
                <td>{{oneDataRSS.published|e}}</td>
                <td>{{oneDataRSS.updated|e}}</td>
                <td>
                    <form action="index.php?action=dataRSS&delete={{ loop.index }}" enctype="multipart/form-data" method="POST">
                        <input type="submit" value="Usuń" class="submit">
                    </form>
                </td>
            
        </tr>
        {% endfor %} 
    </table>
  
